/* WEBSITE VARIABLES */
// font-family: 'Quicksand', sans-serif;
$inter: 'inter' , cursive;
$nun: 'Quicksand', sans-serif;


$purple: #6930c3;

$fontSmall: .7rem;
$fontMedium: 1rem;
$fontLarge: 1.5rem;

$primary: #17a2b8;
$secondary:#fd0000;
$deep: #2a7784;

$sectionPadding: 80px;
$menuMargin: 90px;



/* RESPONSIVE DEVICE SEIZE */
$mobileSm: 321px;
$mobileMd: 375px;
$mobileXl: 425px;
$tablet: 768px;